input[type=checkbox] + label {
  margin-right: 10px;
}
label,
input[type=checkbox] {
  cursor: pointer;
}
fieldset {
  border: none;
}
form {
  font-family: sans-serif;
}
.heading {
  font-weight: bold;
  display: inline-block;
  width: 15%;
  vertical-align: top;
  text-align: right;
  padding-right: 12px;
}
.content {
  display: inline-block;
  width: 80%;
}
.data-list {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 250px;
  white-space: nowrap;
}
.inline-label {
  display: inline-block;
  width: 15%;
  text-align: right;
  padding-right: 8px;
  font-weight: bold;
}
.test-runner-group {
  padding-bottom: 8px;
}
.test-success {
  color: white;
  background-color: green;
  padding: 12px;
}
.test-failure {
  color: white;
  background-color: red;
  padding: 12px;
}

p {
  white-space: pre-wrap;
}
